In [1]:
!pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.9.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip

In [2]:
import csv
import psycopg2
from psycopg2 import extras

In [25]:
pip install matplotlib

Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/9a/b0/dd2b60f2dd90fbc21d1d3129c36a453c322d7995d5e3589f5b3c59ee528d/matplotlib-3.8.2-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading matplotlib-3.8.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.8 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/f3/9e/8fb3f53144269d3fecdd8786d3a4686eeff55b9b35a3c0772a3f62f71e36/contourpy-1.2.0-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading contourpy-1.2.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/48/a6/59dc64f3fabc9267de712256aa5337edb3aa96e245192f3d16599adaa015/fonttools-4.46.0-cp312-cp312-macosx_10_9_universal2.whl.metadata
  Downloading fonttools-4.46.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (156 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 156.2/156.2 kB 8.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/26/61/58bb691f6880588be3a4801d199bd776032ece07203faf3e4a8b377f7d9b/kiwisolver-1.4.5-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading kiwisolver-1.4.5-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy<2,>=1.21 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/3d/6f/6f716f16bcb9bf39f54b9d2d993f535a0ee42cc0fec973c80839b0720ca2/Pillow-10.1.0-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading Pillow-10.1.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.5 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/39/92/8486ede85fcc088f1b3dba4ce92dd29d126fd96b0008ea213167940a2475/pyparsing-3.1.1-py3-none-any.whl.metadata
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.2-cp312-cp312-macosx_11_0_arm64.whl (7.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 75.2 MB/s eta 0:00:00a 0:00:01
Downloading contourpy-1.2.0-cp312-cp312-macosx_11_0_arm64.whl (242 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.6/242.6 kB 21.7 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.46.0-cp312-cp312-macosx_10_9_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 76.4 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-macosx_11_0_arm64.whl (64 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 13.1 MB/s eta 0:00:00
Downloading Pillow-10.1.0-cp312-cp312-macosx_11_0_arm64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 72.6 MB/s eta 0:00:00a 0:00:01
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 18.5 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.46.0 kiwisolver-1.4.5 matplotlib-3.8.2 pillow-10.1.0 pyparsing-3.1.1

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [26]:
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt
from psycopg2 import extras

In [3]:
db_params = {
    "dbname": "final-project",
    "user": "postgres",
    "password": "123",
    "host": "localhost" }

In [13]:
# Path to CSV file 
csv_file_path =  '/Users/christine/Downloads/german_air_fare.csv'

In [18]:
import pandas as pd
filename = "/Users/christine/Downloads/german_air_fare.csv"
df = pd.read_csv(filename)

In [27]:
conn_url = "postgresql://postgres:123@localhost/final-project"
engine = create_engine(conn_url)
connection = engine.connect()

In [4]:
conn = psycopg2.connect(**db_params)
cur = conn.cursor()

In [9]:
# Function to extract city names
def extract_city_names(city_col):
    city_df = df[city_col].drop_duplicates().reset_index(drop=True)
    city_df = city_df.str.extract(r'(\w{3})\s+(.*)')
    city_df.columns = ['short_name', 'long_name']
    return city_df

In [19]:
# extract city names from both departure and arrival cities
departure_cities = extract_city_names('departure_city')
arrival_cities = extract_city_names('arrival_city')

# Combining and removing duplicates
cityname_df = pd.concat([departure_cities, arrival_cities]).drop_duplicates().reset_index(drop=True)
cityname_df['cityname_id'] = range(1, len(cityname_df) + 1)

cityname_df.head()

  short_name          long_name  cityname_id
0        TXL  Berlin-Tegel                 1
1        BRE  Bremen                       2
2        DTM  Dortmund                     3
3        DRS  Dresden                      4
4        DUS  Düsseldorf                   5

In [28]:
#insert the data into cityname table
cityname_df.to_sql('cityname', engine, if_exists='append', index=False)
engine.dispose()

In [29]:
# Extract the relevant columns
airplanetime_df = df[['departure_time', 'arrival_time']]

# Drop duplicates if necessary
airplanetime_df = airplanetime_df.drop_duplicates()

# Generate unique IDs
airplanetime_df['airplanetime_id'] = range(1, len(airplanetime_df) + 1)

# Reorder columns to match the table structure
airplanetime_df = airplanetime_df[['airplanetime_id', 'departure_time', 'arrival_time']]

# Display the first few rows to verify
print(airplanetime_df.head())

   airplanetime_id departure_time arrival_time
0                1         6:30am       7:45am
1                2         6:40am       7:55am
2                3         6:45am       8:00am
3                4         6:15am       7:30am
4                5         6:55am       8:10am

In [30]:
#insert the data into airplane table
airplanetime_df.to_sql('airplanetime', engine, if_exists='append', index=False)

engine.dispose()

In [31]:
# Extract unique airline names
unique_airlines = df['airline'].unique()

# Create a new DataFrame for airlines
airlines_df = pd.DataFrame(unique_airlines, columns=['name'])

# Assign unique IDs
airlines_df['airline_id'] = range(1, len(airlines_df) + 1)

# Reorder columns to match the table structure
airlines_df = airlines_df[['airline_id', 'name']]

# Display the DataFrame
print(airlines_df.head())

   airline_id                 name
0           1            Eurowings
1           2              easyJet
2           3            Lufthansa
3           4           Air France
4           5  LOT-Polish Airlines

In [32]:
# Insert data into the 'airlines' table
airlines_df.to_sql('airlines', engine, if_exists='append', index=False)

# Close the connection
engine.dispose()

In [34]:
# Extracting necessary columns and creating a copy
airfares_df = df[['departure_city', 'arrival_city', 'airline', 'stops', 'price (€)', 'departure_date', 'departure_time', 'arrival_time']].copy()

# Convert departure date into departure month and day
airfares_df['departure_date'] = pd.to_datetime(airfares_df['departure_date'], dayfirst=True)
airfares_df['departure_month'] = airfares_df['departure_date'].dt.month
airfares_df['departure_day'] = airfares_df['departure_date'].dt.day

# Drop the original departure date column if no longer needed
airfares_df = airfares_df.drop(columns=['departure_date'])

In [35]:
# Convert month and day to integer type
airfares_df['departure_month'] = airfares_df['departure_month'].astype('Int64')
airfares_df['departure_day'] = airfares_df['departure_day'].astype('Int64')

In [36]:
airfares_df['departure_city_code'] = airfares_df['departure_city'].str[:3]
airfares_df['arrival_city_code'] = airfares_df['arrival_city'].str[:3]

In [37]:
# Merge to get the cityname_id for departure cities
airfares_df = airfares_df.merge(cityname_df, left_on='departure_city_code', right_on='short_name', how='left')
# Assign unique IDs to each airfare
airfares_df['airfare_id'] = range(1, len(airfares_df) + 1)

In [38]:
print(airfares_df.head())

          departure_city           arrival_city    airline   stops price (€)  \
0  TXL Berlin-Tegel       DUS Düsseldorf         Eurowings  direct        74
1  TXL Berlin-Tegel       DUS Düsseldorf           easyJet  direct        75
2  TXL Berlin-Tegel       DUS Düsseldorf           easyJet  direct        80
3  TXL Berlin-Tegel       DUS Düsseldorf         Eurowings  direct        84
4  TXL Berlin-Tegel       DUS Düsseldorf         Eurowings  direct        84

  departure_time arrival_time  departure_month  departure_day  \
0         6:30am       7:45am               10             25
1         6:40am       7:55am               10             25
2         6:45am       8:00am               10             25
3         6:15am       7:30am               10             25
4         6:55am       8:10am               10             25

  departure_city_code arrival_city_code short_name          long_name  \
0                 TXL               DUS        TXL  Berlin-Tegel
1                 TXL               DUS        TXL  Berlin-Tegel
2                 TXL               DUS        TXL  Berlin-Tegel
3                 TXL               DUS        TXL  Berlin-Tegel
4                 TXL               DUS        TXL  Berlin-Tegel

   cityname_id  airfare_id
0            1           1
1            1           2
2            1           3
3            1           4
4            1           5

In [39]:
# Drop the departure city code and short_name columns, keep cityname_id as is
airfares_df.drop(columns=['departure_city_code', 'arrival_city_code','short_name','long_name'], inplace=True)

In [40]:
# Merge to get the airline_id for each airline name in airfares_df
airfares_df = airfares_df.merge(airlines_df, left_on='airline', right_on='name', how='left')

# Drop 
airfares_df.drop(columns=['airline'], inplace=True)

In [41]:
# Merge to get the airplanetime_id for each combination of departure and arrival times in airfares_df
airfares_df = airfares_df.merge(airplanetime_df, on=['departure_time', 'arrival_time'], how='left')

# After merging, airfares_df will have the airplanetime_id column
# You can drop the original time columns if they are no longer needed
airfares_df.drop(columns=['departure_time', 'arrival_time'], inplace=True)

In [42]:
# Rename 'price (€)' column to 'price'
airfares_df.rename(columns={'price (€)': 'price'}, inplace=True)
airfares_df.rename(columns={'name': 'airline'}, inplace=True)

In [43]:
# Convert 'price' from string to numeric format (if needed)
airfares_df['price'] = airfares_df['price'].replace(',', '', regex=True).astype(float)

In [44]:
airfares_df = airfares_df[airfares_df['price'] <= 9999.99]

In [45]:
# Display the updated DataFrame
print(airfares_df.head())

          departure_city           arrival_city   stops  price  \
0  TXL Berlin-Tegel       DUS Düsseldorf         direct   74.0
1  TXL Berlin-Tegel       DUS Düsseldorf         direct   75.0
2  TXL Berlin-Tegel       DUS Düsseldorf         direct   80.0
3  TXL Berlin-Tegel       DUS Düsseldorf         direct   84.0
4  TXL Berlin-Tegel       DUS Düsseldorf         direct   84.0

   departure_month  departure_day  cityname_id  airfare_id  airline_id  \
0               10             25            1           1           1
1               10             25            1           2           2
2               10             25            1           3           2
3               10             25            1           4           1
4               10             25            1           5           1

     airline  airplanetime_id
0  Eurowings                1
1    easyJet                2
2    easyJet                3
3  Eurowings                4
4  Eurowings                5

In [46]:
#insert the table
airfares_df.to_sql('airfares', engine, if_exists='append', index=False)
engine.dispose()

In [55]:
import csv
import psycopg2

In [47]:
# Path to CSV file 
csv_file_path =  '/Users/christine/Downloads/germany_car_rental.csv'

In [48]:
conn = psycopg2.connect(**db_params)
cur = conn.cursor()

In [78]:
def insert_data(carrentalprice_id, drive_away_price, price):
    try:
        cur.execute(
            "INSERT INTO carrentalprice (carrentalprice_id, drive_away_price, price) VALUES (%s, %s, %s)",
            (carrentalprice_id, drive_away_price, price)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data: {e}")
        conn.rollback()

In [79]:
# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    carrentalprice_id = 1  # Start ID from 1
    for row in reader:
        # Convert drive_away_price and price to float, handling any empty strings
        drive_away_price = float(row['drive_away_price']) if row['drive_away_price'] else 0.0
        price = float(row['price']) if row['price'] else 0.0

        # Insert data into carrentalprice
        insert_data(carrentalprice_id, drive_away_price, price)
        
        carrentalprice_id += 1  # Increment ID for the next row

In [187]:
# Function to insert data into the carrentalratings table
def insert_carrentalratings(carrentalrating_id, average_rating, average_text, cleanliness, condition, dropoff_time, efficiency, location, pickup_time, value_for_money):
    try:
        # Replace empty values with zeros for numeric columns
        if not average_rating:
            average_rating = 0
        if not cleanliness:
            cleanliness = 0
        if not condition:
            condition = 0
        if not dropoff_time:
            dropoff_time = 0
        if not efficiency:
            efficiency = 0
        if not value_for_money:
            value_for_money = 0

        cur.execute(
            "INSERT INTO carrentalratings (carrentalrating_id, average_rating, average_text, cleanliness, condition, dropoff_time, efficiency, location, pickup_time, value_for_money) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
            (
                carrentalrating_id, average_rating, average_text, cleanliness, condition,
                dropoff_time, efficiency, location, pickup_time, value_for_money
            )
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into carrentalratings: {e}")
        conn.rollback()


# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    carrentalrating_id = 1  # Start ID from 1
    for row in reader:
        # Extract data from the CSV file
        average_rating = row['average']
        average_text = row['average_text']
        cleanliness = row['cleanliness']
        condition = row['condition']
        dropoff_time = row['dropoff_time']
        efficiency = row['efficiency']
        location = row['location']
        pickup_time = row['pickup_time']
        value_for_money = row['value_for_money']

        # Insert data into carrentalratings
        insert_carrentalratings(
            carrentalrating_id, average_rating, average_text, cleanliness, condition,
            dropoff_time, efficiency, location, pickup_time, value_for_money
        )
        
        carrentalrating_id += 1  # Increment ID for the next row

KeyError: 'average'

In [114]:
# Function to insert data into the rentalcompany table with incremental ID
def insert_rentalcompany_with_id(rentalcompany_id, name, address, location_type):
    try:
        cur.execute(
            "INSERT INTO rentalcompany (rentalcompany_id, name, address, location_type) VALUES (%s, %s, %s, %s)",
            (rentalcompany_id, name, address, location_type)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into rentalcompany: {e}")
        conn.rollback()

# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    rentalcompany_id = 1  # Start ID from 1
    inserted_rental_companies = set()  # To keep track of inserted rental companies

    for row in reader:
        # Extract data from the CSV file
        name = row['supplier_name']
        address = row['supplier_address']
        location_type = row['supplier_loction_type']

        # Check if the rental company is not already inserted
        if name not in inserted_rental_companies:
            # Insert data into rentalcompany with incremental ID
            insert_rentalcompany_with_id(rentalcompany_id, name, address, location_type)
            
            inserted_rental_companies.add(name)  # Add the name to the set of inserted companies
            rentalcompany_id += 1  # Increment ID for the next rental company

In [118]:
# Function to insert data into the carinfo table
def insert_carinfo(carinfo_id, product_name, type, seats, transmission, rentalcompany_id):
    try:
        cur.execute(
            "INSERT INTO carinfo (carinfo_id, product_name, type, seats, transmission, rentalcompany_id) VALUES (%s, %s, %s, %s, %s, %s)",
            (carinfo_id, product_name, type, seats, transmission, rentalcompany_id)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into carinfo: {e}")
        conn.rollback()

# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    carinfo_id = 1  # Start ID from 1
    rentalcompany_ids = set()  # To store distinct rentalcompany_id values

    for row in reader:
        product_name = row['product_name']
        type = row['group']
        seats = row['seats']
        transmission = row['transmission']
        supplier_name = row['supplier_name']  

        # Check if the rentalcompany_id already exists in the set, if not, assign a new one
        rentalcompany_id = rentalcompany_ids.add(supplier_name) or len(rentalcompany_ids)

        # Insert data into carinfo
        insert_carinfo(carinfo_id, product_name, type, seats, transmission, rentalcompany_id)

        carinfo_id += 1  # Increment ID for the next row

In [145]:
# Path to CSV file 
csv_file_path =  '/Users/christine/Downloads/germany_hotel_booking.csv'

In [122]:
# Function to insert data into the customers table
def insert_customer(customer_id, name, email, phone_number, credit_card):
    try:
        cur.execute(
            "INSERT INTO customers (customer_id, name, email, phone_number, credit_card) VALUES (%s, %s, %s, %s, %s)",
            (customer_id, name, email, phone_number, credit_card)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into customers: {e}")
        conn.rollback()

# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    customer_id = 1  # Start ID from 1

    for row in reader:
        name = row['name']
        email = row['email']
        phone_number = row['phone-number']
        credit_card = row['credit_card']

        # Insert data into customers
        insert_customer(customer_id, name, email, phone_number, credit_card)

        customer_id += 1  # Increment ID for the next row

In [129]:
# Function to insert data into the bookingchannel table
def insert_bookingchannel(bookingchannel_id, distribution_channel, agent, company):
    try:
        cur.execute(
            "INSERT INTO bookingchannel (bookingchannel_id, distribution_channel, agent, company) VALUES (%s, %s, %s, %s)",
            (bookingchannel_id, distribution_channel or None, agent or None, company or None)  # Use None for missing values
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into bookingchannel: {e}")
        conn.rollback()

# Open the new CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    bookingchannel_id = 1  # Start ID from 1
    distinct_channels = set()  # To store distinct booking channels

    for row in reader:
        distribution_channel = row['distribution_channel']
        agent = row['agent']
        company = row['company']

        # Create a unique identifier for the booking channel based on its attributes
        channel_identifier = f"{distribution_channel}-{agent}-{company}"

        # Check if this booking channel is distinct
        if channel_identifier not in distinct_channels:
            # Insert data into bookingchannel, using None for missing values
            insert_bookingchannel(bookingchannel_id, distribution_channel, agent, company)

            distinct_channels.add(channel_identifier)  # Add it to the set of distinct channels
            bookingchannel_id += 1  # Increment ID for the next distinct channel

In [131]:
# Function to insert data into the roomaddon table
def insert_roomaddon(roomaddon_id, meal, required_car_parking_spaces, total_of_special_requests):
    try:
        cur.execute(
            "INSERT INTO roomaddon (roomaddon_id, meal, required_car_parking_spaces, total_of_special_requests) VALUES (%s, %s, %s, %s)",
            (roomaddon_id, meal, required_car_parking_spaces, total_of_special_requests)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into roomaddon: {e}")
        conn.rollback()

# Open the new CSV file (if needed) and read data
# Replace 'new_csv_file_path' with the path to your new CSV file
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    roomaddon_id = 1  # Start ID from 1

    for row in reader:
        meal = row['meal']
        required_car_parking_spaces = row['required_car_parking_spaces']
        total_of_special_requests = row['total_of_special_requests']

        # Insert data into roomaddon
        insert_roomaddon(roomaddon_id, meal, required_car_parking_spaces, total_of_special_requests)

        roomaddon_id += 1  # Increment ID for the next row

In [135]:
# Function to get roomaddon_id based on 'meal' value
def get_roomaddon_id(meal):
    try:
        cur.execute("SELECT roomaddon_id FROM roomaddon WHERE meal = %s", (meal,))
        result = cur.fetchone()
        return result[0] if result else None
    except Exception as e:
        print(f"Error fetching roomaddon_id for meal {meal}: {e}")
        return None

# Function to insert data into the roomtype table
def insert_roomtype(roomtype_id, room_type, adults, children, babies, roomaddon_id):
    try:
        cur.execute(
            "INSERT INTO roomtype (roomtype_id, room_type, adults, children, babies, roomaddon_id) VALUES (%s, %s, %s, %s, %s, %s)",
            (roomtype_id, room_type, adults, children, babies, roomaddon_id)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into roomtype: {e}")
        conn.rollback()

# Open the new CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    roomtype_id = 1  # Start ID from 1

    for row in reader:
        room_type = row['reserved_room_type']
        adults = row['adults']
        children = row['children']
        babies = row['babies']
        meal = row['meal']  # Assuming 'meal' corresponds to 'roomaddon' in 'roomaddon' table

        # Get the corresponding 'roomaddon_id' based on 'meal'
        roomaddon_id = get_roomaddon_id(meal)

        if roomaddon_id is not None:
            # Insert data into roomtype
            insert_roomtype(roomtype_id, room_type, adults, children, babies, roomaddon_id)

            roomtype_id += 1  # Increment ID for the next row
        else:
            print(f"roomaddon_id not found for meal: {meal}")

In [172]:
# Function to fetch customer_id based on customer_name
def fetch_customer_id(customer_name):
    try:
        cur.execute("SELECT customer_id FROM customers WHERE name = %s", (customer_name,))
        result = cur.fetchone()
        return result[0] if result else None
    except Exception as e:
        print(f"Error fetching customer_id for customer_name {customer_name}: {e}")
        return None

# Function to fetch roomtype_id based on reserved_room_type
def fetch_roomtype_id(reserved_room_type):
    try:
        cur.execute("SELECT roomtype_id FROM roomtype WHERE room_type = %s", (reserved_room_type,))
        result = cur.fetchone()
        return result[0] if result else None
    except Exception as e:
        print(f"Error fetching roomtype_id for reserved_room_type {reserved_room_type}: {e}")
        return None

# Function to fetch bookingchannel_id based on distribution_channel
def fetch_bookingchannel_id(distribution_channel):
    try:
        cur.execute("SELECT bookingchannel_id FROM bookingchannel WHERE distribution_channel = %s", (distribution_channel,))
        result = cur.fetchone()
        return result[0] if result else None
    except Exception as e:
        print(f"Error fetching bookingchannel_id for distribution_channel {distribution_channel}: {e}")
        return None

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (1, 'hotel', 'July', '3...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (2, 'hotel', 'July', '3...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (3, 'hotel', 'July', '5...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (4, 'hotel', 'July', '5...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (5, 'hotel', 'July', '1...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "July"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (6, 'hotel', 'July', '1...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (7, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (8, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...omtype_id, bookingchannel_id) VALUES (9, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (10, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (11, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (12, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (13, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (14, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (15, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (16, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (17, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (18, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (19, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (20, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (21, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "September"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (22, 'hotel', 'September...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (23, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (24, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (25, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (26, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (27, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (28, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (29, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (30, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (31, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (32, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "October"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (33, 'hotel', 'October',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (34, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (35, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (36, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (37, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (38, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (39, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (40, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (41, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (42, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (43, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "November"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (44, 'hotel', 'November'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "December"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (45, 'hotel', 'December'...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "January"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (46, 'hotel', 'January',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "January"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (47, 'hotel', 'January',...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "March"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (48, 'hotel', 'March', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "March"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (49, 'hotel', 'March', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "March"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (50, 'hotel', 'March', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "March"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (51, 'hotel', 'March', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (52, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (53, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (54, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (55, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (56, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (57, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (58, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (59, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (60, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (61, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (62, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (63, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (64, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (65, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (66, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (67, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (68, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (69, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (70, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (71, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (72, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (73, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (74, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (75, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (76, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (77, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (78, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (79, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (80, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (81, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (82, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (83, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (84, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (85, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (86, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (87, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (88, 'hotel', 'April', '...
                                                             ^

Error inserting data into hotelrate: invalid input syntax for type integer: "April"
LINE 1: ...mtype_id, bookingchannel_id) VALUES (89, 'hotel', 'April', '...
                                                             ^


In [182]:
# Function to insert data into the hotelrate table
def insert_hotelrate(hotelrate_id, name, arrival_month, arrival_day, price, customer_name, reserved_room_type, distribution_channel):
    try:
        # Fetch the foreign key IDs using the fetch functions
        customer_id = fetch_customer_id(customer_name)
        roomtype_id = fetch_roomtype_id(reserved_room_type)
        bookingchannel_id = fetch_bookingchannel_id(distribution_channel)
        
        # Map month names to numeric values
        month_mapping = {
            'January': 1,
            'February': 2,
            'March': 3,
            'April': 4,
            'May': 5,
            'June': 6,
            'July': 7,
            'August': 8,
            'September': 9,
            'October': 10,
            'November': 11,
            'December': 12
        }
        
        # Convert arrival_month to an integer using the mapping
        arrival_month = month_mapping.get(arrival_month, None)
        
        # Ensure that arrival_month is not None
        if arrival_month is None:
            raise ValueError(f"Invalid month name: {arrival_month}")
        
        # Convert arrival_day to an integer
        arrival_day = int(arrival_day)
        
        cur.execute(
            "INSERT INTO hotelrate (hotelrate_id, name, arrival_month, arrival_day, price, customer_id, roomtype_id, bookingchannel_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)",
            (hotelrate_id, name, arrival_month, arrival_day, price, customer_id, roomtype_id, bookingchannel_id)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into hotelrate: {e}")
        conn.rollback()

# Open the CSV file and read data
with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    hotelrate_id = 1  # Start ID from 1
    for row in reader:
        name = row['hotel']
        arrival_month = row['arrival_date_month']
        arrival_day = row['arrival_date_day_of_month']
        price = row['adr']  # Assuming 'adr' in your CSV corresponds to 'price'
        customer_name = row['name']
        reserved_room_type = row['reserved_room_type']
        distribution_channel = row['distribution_channel']

        # Insert data into hotelrate
        insert_hotelrate(hotelrate_id, name, arrival_month, arrival_day, price, customer_name, reserved_room_type, distribution_channel)

        hotelrate_id += 1  # Increment ID for the next row

In [185]:
# Function to insert data into the hotelcancellations table
def insert_hotelcancellation(hotelcancellation_id, booking_changes, room_type, reservation_status):
    try:
        # Fetch the foreign key ID for roomtype
        roomtype_id = fetch_roomtype_id(room_type)
        
        cur.execute(
            "INSERT INTO hotelcancellations (hotelcancellation_id, booking_changes, roomtype_id, reservation_status) VALUES (%s, %s, %s, %s)",
            (hotelcancellation_id, booking_changes, roomtype_id, reservation_status)
        )
        conn.commit()
    except Exception as e:
        print(f"Error inserting data into hotelcancellations: {e}")
        conn.rollback()

with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)

    hotelcancellation_id = 1  # Start ID from 1
    for row in reader:
        booking_changes = row['booking_changes']
        room_type = row['reserved_room_type']
        reservation_status = row['reservation_status']

        # Insert data into hotelcancellations
        insert_hotelcancellation(hotelcancellation_id, booking_changes, room_type, reservation_status)

        hotelcancellation_id += 1  # Increment ID for the next row

In [186]:
def fetch_data(query):
    try:
        cur.execute(query)
        return cur.fetchall()
    except Exception as e:
        print(f"Error fetching data: {e}")
        return []

# Fetch the first 5 rows from carrentalprice
first_five_rows = fetch_data("SELECT * FROM hotelcancellations LIMIT 5")

# Display the results
for row in first_five_rows:
    print(row)

(1, 0, 1, 'Check-Out')
(2, 0, 2, 'Check-Out')
(3, 0, 1, 'Check-Out')
(4, 0, 1, 'Check-Out')
(5, 1, 1, 'Check-Out')

In [188]:
# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()